.storybook-button {
  font-family: 'poppins';
  font-weight: 700;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: #ffffff;
  background-color: #e6692e;
}
.storybook-button--secondary {
  color: #e6692e;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 14px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 16px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 18px;
  padding: 12px 24px;
}
